.modal  {
  width: 30rem;
  height: 26rem;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
	display: none;
	margin: 50px auto;
	vertical-align: middle;
	cursor: default;
	text-align: left;
}

.modal.modal-open {
  display: block;
}

@media screen and (max-width: 798px) {
  .modal {
    width: 18rem;
    height: auto;
    padding-bottom: 1rem;
  }
}
