<form class="form" action="#">
  <div className="form__input-row input-row">
    <label for="title">
      <span>Title</span>
    </label>
    <input type="text" id="title" required />
  </div>

  <div className="form__input-row input-row">
    <label for="price">
      <span>Price</span>
    </label>
    <input type="number" id="price" required/>
  </div>

  <div className="form__input-row input-row">
    <label for="date">
      <span>Date and Time</span>
    </label>
    <input type="number" id="date" required />
  </div>

  <div class="form__btn-block">
    <button class="form__btn_close">close</button>
    <button class="form__btn_add">add</button>
  </div>
</form>
