<table class="table">
  <thead class="table__header">
    <tr class="table__row">
      <th class="table__head">#</th>
      <th class="table__head">Title</th>
      <th class="table__head">Price, USD</th>
      <th class="table__head">Data and Time</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__row">
      <th scope='col' class="table__head">1</th>
      <th scope='col' class="table__head">Headphones</th>
      <th scope='col' class="table__head">10.00</th>
      <th scope='col' class="table__head">11.01.2021</th>
    </tr>

    <tr class="table__row">
      <th scope='col' class="table__head">2</th>
      <th scope='col' class="table__head">Mouse</th>
      <th scope='col' class="table__head">15.00</th>
      <th scope='col' class="table__head">12.01.2021</th>
    </tr>

    <tr class="table__row">
      <th scope='col' class="table__head">3</th>
      <th scope='col' class="table__head">Keyboard</th>
      <th scope='col' class="table__head">9.99</th>
      <th scope='col' class="table__head">12.01.2021</th>
    </tr>
  </tbody>
</table>
