// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/table";
@import "./components/modal";
@import "./components/form";

.main {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main__table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 425px;
}

.main__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
	opacity: 0;
	visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.main__container::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.main__container.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 468px) {
  .main {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .site-container {
    overflow: initial;
  }

  .container {
    max-width: 100%;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
